app/bootstrap.php.cache
app/config/parameters.yml
app/phpunit.xml
bin/
composer.phar
vendor/
web/bundles/
.project
.settings
app/data/*
.buildpath
web/media/cache/*
web/bootstrap/*
web/fonts/*
app/logs/*
app/cache/*
web/iirf.ini
web/css/*
web/js/*
.idea

.hgignore
.hgtags
.hg/*