node_modules
composer.phar
vendor/
public/bundles/
public/build
.project
.settings
var/data/*
.buildpath
public/fonts/*
var/log/*
var/cache/*
web/iirf.ini
.idea

.hgignore
.hgtags
.hg/*
.env.*
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> friendsofphp/php-cs-fixer ###
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
