syntax: glob
app/bootstrap.php.cache
app/config/parameters.yml
app/phpunit.xml
bin/
composer.phar
vendor/
web/bundles/
.project
.settings
app/data/*
.buildpath
web/media/cache/*
web/bootstrap/*
web/fonts/*
syntax: regexp
^web/iirf\.ini$
syntax: regexp
^web/css$
syntax: regexp
^web/js$
.idea