{% extends "DashboardBundle:master:default.html.twig" %}

{% block title %}Tariefplannen - {{ parent() }}{% endblock %}

{% block document %}
    <div class="row">
        <div class="col-xs-12">

            <h1>Tariefplannen</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Markt</th>
                        <th colspan="2">Opties</th>
                    </tr>
                </thead>
                <tbody>
                {% for markt in markten.results %}
                    <tr>
                        <td>{{ markt.naam }}</td>
                        <td><a href="{{ path('gemeenteamsterdam_makkelijkemarkt_dashboard_tariefplan_marktindex', {'marktId': markt.id}) }}" class="btn btn-primary">Tariefplannen</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}